/* You can add global styles to this file, and also import other style files */


nav , #won
{
	display:flex;
	justify-content:center;
	align-items:center;
}
nav button
{
	width:14%;
	margin-right:10px;	
}
#won
{
	flex-direction:column;
	justify-content:space-around;
	position:absolute;
	top:20%;
	left:30%;
	width:474px;
	height:474px;
	background-color:rgba(0, 0, 0, 0.26);
	display:none;
}
nav div
{
	margin-right:10px;
}
#score
{
	text-align:center;
}
#continue
{
	margin-top:12%;
}
#restart
{
	margin-bottom:20%;
}
#grid
{
	position:absolute;
	top:20%;
	left:30%;
	margin:0 auto;
	width:450px;
	height:450px;
	background-color:rgb(187, 173, 160);
	border:12px solid rgb(187, 173, 160);	
	border-radius:5px;
	box-shadow: 0px 3px 28px black;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.grid-cell
{
	height:97.5px;
	width:97.5px;
	background-color:#CCC0B3;
	border-radius:5px;
	font-size:53px;
	font-weight:bold;
	line-height:97.5px;
	text-align:center;
}
.grid-cell:after
{
	content:"";
}
.two::after
{
	content:"2";
}
.two
{
	background-color:rgb(238, 228, 218);
}
.four
{
	background-color:#ede0c8;
}
.four::after
{
	content:'4';
}
.eight
{
	background-color:#f2b179;
}
.eight::after
{
	content:'8';
}
.sixteen
{
	background-color:#f59563;
}
.sixteen::after
{
	content:'16';
}
.thirtytwo
{
	background-color:#f67c5f;
}
.thirtytwo::after
{
	content:'32';
}
.sixtyfour
{
	background-color:#f65e3b;
}
.sixtyfour::after
{
	content:'64';
}
.onetwoeight
{
	background-color:#edcf72;
}
.onetwoeight::after
{
	content:'128';
}
.twofivesix
{
	background-color:#edcc61;
}
.twofivesix::after
{
	content:'256';
}
.fiveonetwo
{
	background-color:#edc850;
}
.fiveonetwo::after
{
	content:'512';
}
.onetwofour
{
	background-color:#edc53f;
}
.onetwofour::after
{
	content:'1024';
}
.twofoureight
{
	background-color:#edc22e;
}
.twofoureight::after
{
	content:'2048';
}
